*.iml
.gradle
.idea/
/.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/out/


# OS-specific files
.DS_Store

# APKs, AABs, and generated binaries
*.apk
*.aab
*.dex
*.class

# Keys and Credentials
*.keystore
credentials.json

# Logs and temp files
*.log
*.temp
*.swp

# Test reports
/reports/
/outputs/